nav{
	width: 100%;
	height:60px;
	background:rgba(23,23,23,0.7);
	position:fixed;
	left:0;
	bottom:0;
}
nav ul{
	width: 1000px;
	height:60px;
	margin:0 auto;	
}
ul li{
	float:left;
	width: 200px;
	height:60px;
	color:#fff;
	text-align: center;
	line-height: 60px;
}
h3{
	width:100%;
	height:70px;
	background:url('../images/alogo.png') no-repeat 50% 73%;
}
h1{
	width:100%;
	height:50px;
	/* border:1px solid red; */
	text-align:center;
	font-size:40px;
	color:#666;
	margin-top:40px;
}
.big{
	width:1000px;
	height:500px;
	/* border:1px solid red; */
	margin:80px auto;
}
.left{
	width:500px;
	height:500px;
	/* background:skyblue; */
	float:left;
	margin-right: 100px;
}
.right{
	width:400px;
	height:500px;
	/* background:pink; */
	float:left;
}
.right ul{
	width:196px;
	height:200px;
	/* border:1px solid red; */
	text-align:center;
	float:left;
	margin-bottom:20px;
}
.right ul p{
	width:196px;
	height:30px;
	/* border:1px solid red; */
	text-align:center;
	margin-top:-20px;
	line-height:30px;
	font-size:20px;
	color:#666;
}
.left h5{
	font-size:20px;
}
.left p{
	font-size:16px;
	color:#999;
}
