h3{
	width:100%;
	height:70px;
	background:url('../images/alogo.png') no-repeat 50% 73%;
}
.bigest{
	width:950px;
	height:2000px;
	/* border:1px solid red; */
	margin:100px auto;
	position: relative;
}
.ri{
	width:475px;
	height:100px;
	/* background:pink; */
	border-left:4px solid #1cadf0;
	position: absolute;
	top:0;
	right:0;
}

.ri1{
	width:30px;
	height:30px;
	/* border:1px solid red; */
	position:absolute;
	top:-18px;
	left:-17px;
	background:url('../images/version_bg.png') no-repeat -300px -183px;
}
.ri2{
	width:16px;
	height:16px;
	/* border:1px solid red; */
	position:absolute;
	top:-10px;
	left:-10px;
	background:url('../images/version_bg.png') no-repeat -315px -316px;
}
.ri .ri4{
	width:100px;
	height:30px;
	/* border:1px solid red; */
	line-height:30px;
	color:#333;
	position:absolute;
	top:-18px;
	left:30px;
}
.right{
	width:475px;
	height:300px;
	/* background:#1cadf0; */
	border-left:4px solid #1cadf0;
	position: absolute;
	top:100px;
	right:0;
}
.right .rights{
	width:30px;
	height:300px;
	background:#fff;
	float:left;
}
.right .rightss{
	width:445px;
	height:300px;
	color:#fff;
	background:#1cadf0;
	float:left;	
	
}
.right1{
	width:475px;
	height:300px;
	background:#1cadf0;
	border-left:4px solid #1cadf0;
	position: absolute;
	top:700px;
	right:0;
}
.right2{
	width:475px;
	height:300px;
	background:#1cadf0;
	border-left:4px solid #1cadf0;
	position: absolute;
	top:1300px;
	right:0;
}
h2{
	width:400px;
	height:40px;
	/* background:red; */
	/* color:#fff; */
	line-height:40px;
	margin-top:25px;
	margin-left: 30px;
}
 h2 span{
	font-size: 30px;
}
p{
	width:400px;
	height:30px;
	/* background:red; */
	/* color:#fff; */
	line-height:30px;
	margin-top:10px;
	margin-left: 30px;
}
.ri3{
	width:10px;
	height:10px;
	/* border:1px solid red; */
	position:absolute;
	top:0px;
	left:20px;
	background:url('../images/righ.png') no-repeat;
}
.ri3s{
	width:10px;
	height:10px;
	/* border:1px solid red; */
	position:absolute;
	top:0px;
	left:20px;
	background:url('../images/right_gray.png') no-repeat;
}
.one{
	
	color:#333;
}
.xx{
	width:30px;
	height:300px;
	background:#fff;
	float:left;
}
.yy{
	width:445px;
	height:300px;
	background:#e6e7eb;
	float:left;	
	
}

.left{
	width:471px;
	height:300px;
	/* background:#1cadf0; */
	border-right:4px solid #1cadf0;
	position: absolute;
	top:400px;
	left:0;
}
.left .leftss{
	width:440px;
	height:300px;
	color:#fff;
	background:#1cadf0;
	float:left;	
	
}
.left .lefts{
	width:30px;
	height:300px;
	/* background:pink; */
	float:left;
}
.left1{
	width:471px;
	height:300px;
	/* background:#1cadf0; */
	border-right:4px solid #1cadf0;
	position: absolute;
	top:1000px;
	left:0;
}
.left2{
	width:471px;
	height:300px;
	/* background:#1cadf0; */
	border-right:4px solid #1cadf0;
	position: absolute;
	top:1600px;
	left:0;
}
.mm{
	width:440px;
	height:300px;
	
	background:#e6e7eb;
	float:left;	
	
}
.nn{
	width:30px;
	height:300px;
	/* background:pink; */
	float:left;
}
.le3s{
	width:10px;
	height:10px;
	/* border:1px solid red; */
	position:absolute;
	top:0px;
	right:21px;
	background:url('../images/left_gray.png') no-repeat;
}
.le2{
	width:16px;
	height:16px;
	/* border:1px solid red; */
	position:absolute;
	top:-8px;
	right:-10px;
	background:url('../images/version_bg.png') no-repeat -315px -316px;
}
.le3{
	width:10px;
	height:10px;
	/* border:1px solid red; */
	position:absolute;
	top:0px;
	right:21px;
	background:url('../images/left.png') no-repeat;
}
.rii{
	width:475px;
	height:100px;
	/* background:pink; */
	border-left:4px solid #1cadf0;
	position: absolute;
	top:1900px;
	right:0;
}

.rii1{
	width:33px;
	height:34px;
	/* border:1px solid red; */
	position:absolute;
	top:90px;
	left:-18px;
	background:url('../images/version_bg.png') no-repeat -297px -280px;
}

.rii .rii4{
	width:100px;
	height:30px;
	/* border:1px solid red; */
	line-height:30px;
	color:#333;
	position:absolute;
	top:92px;
	left:30px;
}
nav{
	width: 100%;
	height:60px;
	background:rgba(23,23,23,0.7);
	position:fixed;
	left:0;
	bottom:0;
}
nav ul{
	width: 1000px;
	height:60px;
	margin:0 auto;	
}
ul li{
	float:left;
	width: 200px;
	height:60px;
	color:#fff;
	text-align: center;
	line-height: 60px;
}